@import "../../theme/variables";

.pocket {
  display: flex;
  justify-content: space-between;
  padding: 10vh 1.5rem 0;
  height: 45vh;
  box-sizing: border-box;
  color: $color-white;

  .base {
    margin-bottom: 0.7rem;
    font-size: 2.5rem;
  }

  .inputWrapper {
    text-align: right;

    .input {
      margin-bottom: 0.5rem;
      width: 30vw;
      min-width: 10.5rem;
      border: none;
      text-align: right;
      font-size: 2.5rem;
      color: $color-white;
      background: rgba($color-white, 0.1);

      &:focus {
        outline: none;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media only screen and (min-width: 576px) {
    padding-left: 10%;
    padding-right: 10%;
  }

  // Medium devices (tablets, 768px and up)
  @media only screen and (min-width: 768px) {
    padding-left: 20%;
    padding-right: 20%;
  }
}
